language: php

php:
  - 5.3
  - 5.4
  
env:
  - MONGO_VERSION=1.3.5

services:
  - mongodb

before_script:
  - pear channel-discover pear.phpunit.de
  - pear install phpunit/DbUnit
  - wget http://pecl.php.net/get/mongo-1.3.5.tgz
  - tar -xzf mongo-1.3.5.tgz
  - sh -c "cd mongo-1.3.5 && phpize && ./configure && sudo make install"
  - echo "extension=mongo.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
  - composer install --dev --prefer-source

script: phpunit --coverage-text

notifications:
  email:
    - valentin.ferriere@gmail.com

